*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
    margin-bottom:50px;
}
.navbar-default{
    background-color: #22b4f8;
}
.nav > li > a{
    background-color: whitesmoke;
}
.navbar-toggle{
    background-color: whitesmoke;
}
.navbar-brand{
    width: 115px;
    background-color: whitesmoke;
}
.space{
    margin-top: 70px ;
}

#mensaje{
    position: absolute;
}
#footer{
    background-color: #0967cf;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 40px;

}

#main{
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.error{
    color: #ac2323;
}
.form-horizontal .control-label{
    text-align: left;
}

.btn-back{
    background-color: #1b6d85;
    color: white;
}

.btn-back:hover{
    background-color: #3c8dbc;
    color: white;

}

.truncar-texto {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:5px;
}

.contorno{
    border: 3px;

    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

    color: #34495e;

    border-style: double;

    padding: 5px;
}

.resumen{
    font-size: 20px;
}
